<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Happy 2 Years!</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>

    <script src="/videoTemplate.js"></script>

    <script src="/index.js" charset="utf-8" defer></script>

  </head>

  <body>

    <header>

      <a href="#"><h1 class="site-title" id="home"> Travel The World </h1></a>

    </header>

    {{{body}}}

    <button type="button" id="create-twit-button"><i class="fas fa-bullhorn"></i></button>

    <div id="modal-backdrop" class="hidden"></div>
    <div id="add-video-modal" class="hidden">
      <div class="modal-dialog">

        <template id="modal-template">
          <div class="modal-header">
            <h3>Visited \{{location}}?</h3>
          </div>
        </template>

        <div class="modal-header">
          <h2>Add a video!</h2>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="twit-input-element">
            <label for="video-location-input">Location</label>
            <input type="text" id="video-location-input">
          </div>
          <div class="twit-input-element">
            <label for="video-link-input">Link</label>
            <input type="text" id="video-link-input">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Submit</button>
        </div>

      </div>
    </div>

  </body>

</html>
